<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add Note  |  name_of_user</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

      <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css'>
    <link href="static/css/add_note.css" type="text/css" rel="stylesheet">
    <link href="static/css/common.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css">
  </head>
  <body>
    
    
    
    <br><br>
      
    <div class="uk-container uk-container-small">
      
    
    <div align="center">
      <label for="name">Title</label>
      <input type="text" id="name" class="uk-input uk-form-width-large">
    </div>
    <br><br>
    

    <div>
      <label for="note_type">Note Type</label>
    
    <select  onchange="note_type()" id="note_type">
      <option selected>Type</option>
      <option value="text">Text</option>
      <option value="audio">Audio</option>
    </select>
    

     <div id="input_div">
        <br><br>
       <textarea name="" rows="15" id="input"></textarea>
      </div> 

      </div>

     
    </div>
    <div align="right">
    <br><br>
      <br><br>

    
    <button class="uk-button uk-button-primary" onclick="post_data()">Save</button>
    <button class="uk-button uk-button-default">Discard</button>
    </div>
    <br><br>
    </div>

    

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
  <script>


$("#drawing_div").hide()
$("#input_div").hide()

function note_type(){
  var notetype = $("#note_type").val();
  if (notetype === 'text'){
    $("#input_div").show()
  }
  if (notetype === 'audio'){
    $("#input_div").hide()
    console.log("still to be introduced")
}

}   

var simplemde = new SimpleMDE({
  element: document.getElementById("input"),
  spellChecker:false
});
 
//Gathering form data,encrypting and posting
function post_data(){
  //Note Type:
  var note_type = $("#note_type").val();
    
    //If text
  if (note_type === 'text'){
      
      var data ={}
      data['note'] = simplemde.value()
      data['title'] = $("#name").val()
      data['type'] = 'text'
      data['tag'] = 'tag'
      
        $.ajax({
        type: "POST",
        url: "/add_note",
        contentType: 'application/json',
        data: JSON.stringify(data),
        dataType: 'json',
        success: function success(data){
        UIkit.notification("<span uk-icon='icon: check'></span> Successfully added note");


  }
    

  });
}
}
</script>
  </body>
</html>