<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="static/css/uikit.min.css" crossorigin="anonymous">

    <!--<link rel="stylesheet" type="text/css" href="static/css/login.css">-->
    <link rel="stylesheet" type="text/css" href="static/css/common.css">
  </head>
  <body>
  <br>
  <br>
  <br>
  <br>
  <br>

    <div align="center" class="uk-container uk-container-small">
    <h1 class="landing_text">Login</h1>
    <label for="email">Email address</label>
    <input type="email" class="uk-input uk-form-width-large" id="email" aria-describedby="emailHelp">
    <br><br>

    <label for="password">Password</label>
    <input type="password" class="uk-input uk-form-width-large" id="password">

  <br><br>
  <div uk-form-custom>
    <input type="file" class="uk-input uk-form-width-large" id="file">
    <button class="uk-button uk-button-default">Image</button>
  </div>
  <br><br>
  <h1 id="status"></h1>
  <button type="submit" class="uk-button uk-button-primary" onclick="post()">Submit</button>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="static/js/uikit.min.js"></script>
    <script src="static/js/uikit-icons.min.js"></script>
    <script src="static/js/cryptostego.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>

    <script>
    function readIMG(){
    function readfunc(){
        var t=readMsgFromCanvas('canvas',$("#pass1").val(),0);
        if(t!=null){
            t=t.split('&').join('&amp;');
            t=t.split('<').join('&lt;');
            t=t.split('>').join('&gt;');
          //gather data before post
          post_data = {};
          post_data['email'] = $("#email").val()
          post_data['password'] = $("#password").val()
          post_data['key'] = t
          post_data = JSON.stringify(post_data)

      $.ajax({
        type: "POST",
        url: "/login",
        contentType: 'application/json',
        data: post_data,
        dataType: 'json',
        success: function success(data){
          if (data.response == 'succ'){
            UIkit.notification("<span uk-icon='icon: check'></span> Success");
            Cookies.set('id',data.id)
            Cookies.set('key',data.key)
            window.location="/view_notes/0"
          }
          if (data.response != 'succ'){
            UIkit.notification("<span uk-icon='icon: check'></span>"+data.response);
            $("#status").text(data.response)
          }
        },

      });
        }else console.log('wrong image')
             
    }
    loadIMGtoCanvas('file','canvas',readfunc);
}
   
      function post(){
        readIMG()


      

        };

    </script>
  </body>

</html>
