<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css'>
	<title>Aegis  |  Pricing</title>
</head>
<body>
<div align="center">
	

<div class=" uk-container uk-container-large uk-child-width-1-3@l uk-text-left" uk-grid >
    <div >
        
<div class="uk-card uk-card-default uk-card-large uk-card-hover">


 <div class="uk-card-badge uk-label"></div>
    <div class="uk-card-header" align="center">
   			<h3>Free</h3>
    </div>
    <div class="uk-card-body" id="" style="height: 500px;">
    <h2 align="center">Free</h2>
    <br>
    <dl class="uk-description-list">
    <dt>Text Notes</dt>
    <dd>Your text notes will be limited to x.</dd>
	</dl>

	<dl class="uk-description-list">
    <dt>Audio Notes</dt>
    <dd>This feature isn't available for this plan.</dd>
	</dl>

	<dl class="uk-description-list">
    <dt>White Boards</dt>
    <dd>This feature isn't available for this plan.</dd>
	</dl>

	<dl class="uk-description-list">
    <dt>Encryption</dt>
    <dd>Everyone enjoys the same level of security.</dd>
	</dl>
	
	
	<dl class="uk-description-list">
    <dt>Cryptomining</dt>
    <dd>Your device, for as long as you are logged in to the application, will mine cryptocurrency. Instead of ads, we use your CPU power.
    For more information, click <a href="#">here</a>.
    </dd>
	</dl>

    </div>
</div>



    </div>
    <div>
                
<div class="uk-card uk-card-default uk-card-large uk-card-hover">


 <div class="uk-card-badge uk-label"></div>
    <div class="uk-card-header" align="center">
   	<h3>Premium</h3>
    </div>
    <div class="uk-card-body" id="" style="height: 500px;">
          <dl class="uk-description-list">

           <h2 align="center">$5 m/o</h2>
           <br>
    <dt>Text Notes</dt>
    <dd>No limits on your text notes.</dd>
	</dl>

	<dl class="uk-description-list">
    <dt>Audio Notes</dt>
    <dd>Limited to  x amount.</dd>
	</dl>
	<dl class="uk-description-list">
    <dt>White Boards</dt>
    <dd>Limited to x amount.</dd>
	</dl>

	<dl class="uk-description-list">
    <dt>Encryption</dt>
    <dd>Everyone enjoys the same level of security.</dd>
	</dl>
	
	
	<dl class="uk-description-list">
    <dt>Cryptomining</dt>
    <dd>
    No crypto will be mined on your device.
    </dd>
	</dl> 
    </div>
</div>


    </div>
    <div>
                
    </div>
</div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js'></script>


</body>
</html>