<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css" crossorigin="anonymous">
    <link href="static/css/sign_up.css" type="text/css" rel="stylesheet">
    <link href="static/css/common.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <h1 align="center" class="font">Sign Up</h1>

<div align="center" class="uk-container uk-container-small">
  
    <label for="email">Email address</label>
    <input type="email" class="uk-input uk-form-width-large" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">

  <br>
    <label for="password">Password</label>
    <input type="password" class="uk-input uk-form-width-large" name="password" id="password" placeholder="Password">
  

  <br>
    <label for="password_two">Password Again</label>
    <input type="password" class="uk-input uk-form-width-large" id="password_two" placeholder="Password" onchange="verify_match()">
  

  <br>
  <div uk-form-custom>
  <input type="file" name="image_one" id="image_one">
  <button class="uk-button uk-button-default">img 1</button>
  <br>
  </div>
  <div uk-form-custom>
  <input type="file" name="image_two" id="image_two">
  <button class="uk-button uk-button-default">img 2</button>
  <br>
  </div>


<br>
 <select class="uk-select uk-form-width-small" id="acc_type" name="account_type">
   <option selected>Standard</option>
   <option value="standard_plus">Standard+</option>
   <option value="premium">Premium</option>
 </select>

<br>
  <button type="submit" class="uk-button uk-button-primary" onclick="post()">Submit</button>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="static/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js" crossorigin="anonymous"></script>
    <script src="static/js/cryptostego.min.js"></script>


    <script>
    $("#private_key").hide()
        
    function verify_match(){
      console.log('asd')
    }

    function post(){
    //gather data
    post_data ={};
    post_data['email'] = $("#email").val()
    post_data['password'] = $("#password").val()
    post_data['acc_type'] = $("#acc_type").val()
   

    key = {};
    key['need'] = 'True'


    //get a key
        $.ajax({
        type: "POST",
        url: "/get_key",
        contentType: 'application/json',
        data: JSON.stringify(key),
        dataType: 'json',
        success: function success(data){
          //set the keys
          var key = data.key
          var key_hash = data.key_hash

        
          //post the hash
          post_data['key_hash'] = data.key_hash

      //function to write b64 encoded key to image and auto download them.
    function writeIMG(img_number){
    function writefunc(){
        if(writeMsgToCanvas('canvas',key,$("#pass").val(),0)!=null){ 
        var myCanvas = document.getElementById("canvas");  
        var image = myCanvas.toDataURL("image/png");    
        var element = document.createElement('a');
        element.setAttribute('href', image);
        element.setAttribute('download', 'key.png');
        element.style.display = 'none';
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);        
    }
    }
    loadIMGtoCanvas(img_number,'canvas',writefunc,700);
}

          //execute the rsa key write and dl the iamges
          writeIMG('image_one')
          writeIMG('image_two')

        //after keys have been encoded and set for download,post data
        //TODO: post only if downloaded
        console.log(post_data)

        $.ajax({
        type: "POST",
        url: "/signup",
        contentType: 'application/json',
        data: JSON.stringify(post_data),
        dataType: 'json',
        success: function success(data){
          UIkit.notification("<span uk-icon='icon: check'></span> Success!");

        },

      });


        },

      });
    


    }

    </script>
  </body>
</html>
