<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  
  <link rel='stylesheet prefetch' href='https://getuikit.com/assets/uikit/dist/css/uikit.css?nc=8635'>

  
  
</head>

<body class="">

  <div class="uk-grid-small uk-child-width-1-2@m uk-child-width-1-4@l uk-text-center" uk-grid>

  {{range $note := .notes}}

<div class="uk-card uk-card-default">
 <div class="uk-card-badge uk-label">{{$note.NoteType}}</div>
    <div class="uk-card-header">
    {{$note.Title}}
    </div>
    <div class="uk-card-body" id="{{$note.Uuid}}_{{$note.NoteType}}">
        <p></p>
    </div>
    <div class="uk-card-footer">
        <a href="/view_note/{{$note.User}}/{{$note.Uuid}}" class="uk-button uk-button-text">Read more</a>
    </div>
</div>

<script>

  if ("{{$note.NoteType}}" == "text"){
      preview = "{{$note.Note}}".substring(0,40)
      $("#{{$note.Uuid}}_{{$note.NoteType}}").text(preview)
     console.log(preview)
  }
</script>
    {{end}}

</div>
    
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://getuikit.com/assets/uikit/dist/js/uikit.js?nc=8635'></script>
<script src='https://getuikit.com/assets/uikit/dist/js/uikit-icons.js?nc=8635'></script>

</body>  
</html>

