<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css'>

  
  
</head>

<body>
<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            

            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">{{.user}}</a></li>
                </ul>
            </div>


            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Aegis</a></li>
                </ul>
            </div>

             <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Logout</a></li>
                </ul>
            </div>

        </nav>
        <br><br>
  <div class="uk-grid-small uk-child-width-1-2@m uk-child-width-1-4@l uk-text-center" uk-grid>

  {{range $note := .notes}}

<div class="uk-card uk-card-default">
 <div class="uk-card-badge uk-label">{{$note.NoteType}}</div>
    <div class="uk-card-header">
    {{$note.Title}}
    </div>
    <div class="uk-card-body" id="{{$note.Uuid}}_{{$note.NoteType}}">
        <p></p>
    </div>
    <div class="uk-card-footer">
        <a href="/view_note/{{$note.User}}/{{$note.Uuid}}" class="uk-button uk-button-text">Read more</a>
    </div>
</div>

<script>

  if ("{{$note.NoteType}}" == "text"){
      preview = "{{$note.Note}}".substring(0,40)
      $("#{{$note.Uuid}}_{{$note.NoteType}}").text(preview)
     console.log(preview)
  }
</script>
    {{end}}

</div>
    
<script src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js'></script>

</body>  
</html>

