<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.5/showdown.min.js"></script>

  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css'>
      <link rel="stylesheet" type="text/css" href="static/css/common.css">

  
  
</head>

<body class="raleway">
<nav class="uk-navbar-container  uk-navbar-transparent" uk-navbar>
            

            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li><a href="#">{{.user}}@Aegis</a></li>
                </ul>
                <ul class="uk-navbar-nav">
                    <li><a href="/add_note">ADD NOTE</a></li>
                </ul>
                
            </div>


            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Home</a></li>
                </ul>
            </div>

             <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>

        </nav>
        <br><br>
  <div class="uk-grid-small uk-child-width-1-3@m uk-child-width-1-2@s uk-child-width-1-4@l uk-text-center" uk-grid>

  {{range $note := .notes}}

<div class="uk-card uk-card-default uk-card-large" onclick="view_note('{{$note.Uuid}}')">
 <div class="uk-card-badge uk-label">{{$note.NoteType}}</div>
    <div class="uk-card-header">
    {{$note.Title}}
    </div>
    <div class="uk-card-body" id="{{$note.Uuid}}_{{$note.NoteType}}">
        
    </div>
</div>

<script>

  if ("{{$note.NoteType}}" == "text"){
      preview = "{{$note.Note}}".substring(0,20)
      var converter = new showdown.Converter(),
          text      = preview,
          html      = converter.makeHtml(text);
          $("#{{$note.Uuid}}_{{$note.NoteType}}").html(html)
  }

</script>
    {{end}}

</div>

<!-- modal-->
<div id="modal-container" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">

    <div class="uk-card-badge uk-label"></div>
    <br><br>
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title modal_title"></h2>
        <h2 class="uk-modal-title modal_when_made"></h2>
        <br><br><br>
        <p id="single-note"></p>
    </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js'></script>

<script>
UIkit.modal("#modal-container");
//get individual note
  function view_note(uuid){
        $.ajax({
        type: "GET",
        url: "/view_note/{{.user}}/"+uuid,
        contentType: 'application/json',
        success: function success(data){
        
        //set title
        $(".modal_title").text(data.note.Title)
        //set When made
        $(".modal_when_made").text(data.note.WhenMade)
        
        //set Note
        if (data.note.NoteType == 'text'){
          var converter = new showdown.Converter(),
          text      = data.note.Note,
          html      = converter.makeHtml(text);
          $("#single-note").html(html)
        }
        if (data.note.NoteType == 'audio'){
          $("#single-note").text("coming soon")
        }

        //set type
        $(".uk-label").text(data.note.NoteType)
        
        UIkit.modal("#modal-container").show();


  }
    

  });

}
</script>
</body>  
</html>

